table{
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: large;
    color: green;
}

th{
    border: 1px solid green;
    padding: 5px;
}
td{
    border: 1px solid green;
    padding: 5px;
}