<table>
    <!-- <th attr.colspan="{{colspan}}">Employee Details</th>
    <tr>
        <td>Name</td>
        <td>{{getFullName()}}</td>
    </tr>
   
    <tr *ngIf='ShowDetails'>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr *ngIf='ShowDetails'>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
</table>
<br/>
<img *ngIf='ShowDetails' [src]="imagePath"/>
<br/>
<br/>
<button  on-click='ToggleShowDetails()'>{{ShowDetails?'Hide':'Show'}} Details</button>
<br/>
<br/>
 <input [value]='firstName' (input)='firstName=$event.target.value'> -->
<!-- <input [(ngModel)]='firstName'/>
<br/>
<h1>you entered {{firstName}}</h1>
<br/> -->
<my-employeelist></my-employeelist>
<!-- <button [disabled]="isDisabled" on-click='onClickMe()'>Click me</button>
<br/>
<button class="ColorClass" [class]="classesToApply">Button1</button>
<br/>
<button class="ColorClass" [class.BoldClass]="applyBoldClass">Button2</button>
<br>
<button class="ColorClass" [ngClass]="AddClasses()">Button3</button>
<br>
<button style="color:green" [style.font-weight]="isBold?'bold':'normal'">Button4</button> -->
