<my-employeecount *ngIf="employees" [all]="GetTotalEmployeeCount()" [male]="GetTotalMaleEmployeeCount()" [female]="GetTotalFemaleEmployeeCount()"
(countRadioButtonSelectedChanged)="onEmployeeCountRadioButtonChanged($event)"
></my-employeecount>
<br/>
<br/>
<table>
    <thead>
        <tr>
           
             <th>Id</th>
              <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Salary</th>
            <!-- <th>Index</th>
            <th>IsFirst</th>
            <th>IsLast</th>
                        <th>IsEven</th>
            <th>IsOdd</th> -->
        </tr>
    </thead>
    <tbody>
        <ng-container  *ngFor='let employee of employees;'>
        <!-- <tr *ngFor='let employee of employees;trackBy:trackEmployeeById;let i=index;let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd'> -->
                <tr  *ngIf="selectedEmployeeCountRadioButton=='All'|| selectedEmployeeCountRadioButton==employee.gender">
             <td><a [routerLink]="['/employees',employee.id]">
                {{employee.id}}
             </a>
                 </td>
            <td>{{employee.firstName|employeeTitle:employee.gender}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.salary|currency:'INR':true:'1.1-2'}}</td>
            <!-- <td>{{i}}</td>  
            <td>{{isFirst}}</td>
                <td>{{isLast}}</td>
                    <td>{{isEven}}</td>
                <td>{{isOdd}}</td> -->
        </tr>
    </ng-container>
    <tr *ngIf="!employees">
        <td colspan="5">{{statusMesage}}</td>
            </tr>
    <tr *ngIf="employees && employees.length==0">
<td colspan="5">No Employees to Display.</td>
    </tr>

    </tbody>
</table>
<br/>
<!-- <button on-click='RefreshEmployees()'>RefreshEmployees</button> -->